@import './main.css';

@utility app-region {
  app-region: drag;
  user-select: none;
}

@utility app-region-none {
  app-region: none;
  user-select: none;
}

@utility glass-item {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5),
  position: relative;
  overflow: hidden;
}