/* 
.orange-pastel {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.711 0.1889 41.4035);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9524 0.0085 349.2471);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.939 0.0339 357.0268);
  --accent-foreground: oklch(0.5846 0.2209 5.3829);
  --destructive: oklch(0.8125 0.2316 142.728);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9334 0.0076 17.2928);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.5413 0.1888 301.9768);
  --chart-2: oklch(0.711 0.1889 41.4035);
  --chart-3: oklch(0.8731 0.2264 150.8958);
  --chart-4: oklch(0.6138 0.2159 3.7046);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9756 0.0075 345.3443);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

.pink-pastel {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6858 0.2652 343.7084);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9512 0.0102 311.1764);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9375 0.0441 315.4676);
  --accent-foreground: oklch(0.5288 0.2555 305.8752);
  --destructive: oklch(0.8867 0.1653 107.8366);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9354 0.0119 325.672);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.6253 0.1127 247.3014);
  --chart-2: oklch(0.6858 0.2652 343.7084);
  --chart-3: oklch(0.9044 0.2361 130.934);
  --chart-4: oklch(0.5679 0.2507 308.1368);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9741 0.0085 308.3633);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

.indigo-pastel {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5319 0.2608 271.6702);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9933 0.0011 197.139);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9923 0.0042 236.4949);
  --accent-foreground: oklch(0.7324 0.1466 231.8912);
  --destructive: oklch(0.6665 0.2111 2.8306);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9722 0.0034 247.8581);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.777 0.2048 145.4483);
  --chart-2: oklch(0.5319 0.2608 271.6702);
  --chart-3: oklch(0.6658 0.2215 29.2981);
  --chart-4: oklch(0.7507 0.1401 230.8266);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Space Mono, monospace;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

.light-blue-pastel {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.7673 0.1442 232.2722);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.961 0.0084 168.7523);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9767 0.0323 175.0114);
  --accent-foreground: oklch(0.7909 0.1761 159.2439);
  --destructive: oklch(0.6764 0.2492 326.8099);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9438 0.0075 197.0296);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.7668 0.1682 130.7784);
  --chart-2: oklch(0.7673 0.1442 232.2722);
  --chart-3: oklch(0.667 0.256 351.4286);
  --chart-4: oklch(0.8169 0.1692 161.5855);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9827 0.0075 164.9435);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

.lime-pastel {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.8767 0.2418 147.7895);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9622 0.0102 131.3588);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9777 0.0435 135.839);
  --accent-foreground: oklch(0.7955 0.233 137.0522);
  --destructive: oklch(0.5217 0.2213 274.4571);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9419 0.0119 145.4801);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.6735 0.1116 60.465);
  --chart-2: oklch(0.8767 0.2418 147.7895);
  --chart-3: oklch(0.5486 0.2748 293.5354);
  --chart-4: oklch(0.8216 0.2284 136.6127);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9842 0.0085 128.5569);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
} */

.theme-default {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}

.theme-blue {
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);
  --ring: var(--color-blue-400);
  --sidebar-primary: var(--color-blue-600);
  --sidebar-primary-foreground: var(--color-blue-50);
  --sidebar-ring: var(--color-blue-400);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);

  @variant dark {
    --primary: var(--color-blue-500);
    --primary-foreground: var(--color-blue-50);
    --ring: var(--color-blue-900);
    --sidebar-primary: var(--color-blue-500);
    --sidebar-primary-foreground: var(--color-blue-50);
    --sidebar-ring: var(--color-blue-900);
  }
}

.theme-green {
  --primary: var(--color-lime-600);
  --primary-foreground: var(--color-lime-50);
  --ring: var(--color-lime-400);
  --chart-1: var(--color-green-300);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-green-600);
  --chart-4: var(--color-green-700);
  --chart-5: var(--color-green-800);
  --sidebar-primary: var(--color-lime-600);
  --sidebar-primary-foreground: var(--color-lime-50);
  --sidebar-ring: var(--color-lime-400);

  @variant dark {
    --primary: var(--color-lime-600);
    --primary-foreground: var(--color-lime-50);
    --ring: var(--color-lime-900);
    --sidebar-primary: var(--color-lime-500);
    --sidebar-primary-foreground: var(--color-lime-50);
    --sidebar-ring: var(--color-lime-900);
  }
}

.theme-amber {
  --primary: var(--color-amber-600);
  --primary-foreground: var(--color-amber-50);
  --ring: var(--color-amber-400);
  --chart-1: var(--color-amber-300);
  --chart-2: var(--color-amber-500);
  --chart-3: var(--color-amber-600);
  --chart-4: var(--color-amber-700);
  --chart-5: var(--color-amber-800);
  --sidebar-primary: var(--color-amber-600);
  --sidebar-primary-foreground: var(--color-amber-50);
  --sidebar-ring: var(--color-amber-400);

  @variant dark {
    --primary: var(--color-amber-500);
    --primary-foreground: var(--color-amber-50);
    --ring: var(--color-amber-900);
    --sidebar-primary: var(--color-amber-500);
    --sidebar-primary-foreground: var(--color-amber-50);
    --sidebar-ring: var(--color-amber-900);
  }
}

.theme-rose {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);
  --ring: var(--color-rose-400);
  --chart-1: var(--color-rose-300);
  --chart-2: var(--color-rose-500);
  --chart-3: var(--color-rose-600);
  --chart-4: var(--color-rose-700);
  --chart-5: var(--color-rose-800);
  --sidebar-primary: var(--color-rose-600);
  --sidebar-primary-foreground: var(--color-rose-50);
  --sidebar-ring: var(--color-rose-400);

  @variant dark {
    --primary: var(--color-rose-500);
    --primary-foreground: var(--color-rose-50);
    --ring: var(--color-rose-900);
    --sidebar-primary: var(--color-rose-500);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-ring: var(--color-rose-900);
  }
}

.theme-purple {
  --primary: var(--color-purple-600);
  --primary-foreground: var(--color-purple-50);
  --ring: var(--color-purple-400);
  --chart-1: var(--color-purple-300);
  --chart-2: var(--color-purple-500);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-purple-700);
  --chart-5: var(--color-purple-800);
  --sidebar-primary: var(--color-purple-600);
  --sidebar-primary-foreground: var(--color-purple-50);
  --sidebar-ring: var(--color-purple-400);

  @variant dark {
    --primary: var(--color-purple-500);
    --primary-foreground: var(--color-purple-50);
    --ring: var(--color-purple-900);
    --sidebar-primary: var(--color-purple-500);
    --sidebar-primary-foreground: var(--color-purple-50);
    --sidebar-ring: var(--color-purple-900);
  }
}

.theme-orange {
  --primary: var(--color-orange-600);
  --primary-foreground: var(--color-orange-50);
  --ring: var(--color-orange-400);
  --chart-1: var(--color-orange-300);
  --chart-2: var(--color-orange-500);
  --chart-3: var(--color-orange-600);
  --chart-4: var(--color-orange-700);
  --chart-5: var(--color-orange-800);
  --sidebar-primary: var(--color-orange-600);
  --sidebar-primary-foreground: var(--color-orange-50);
  --sidebar-ring: var(--color-orange-400);

  @variant dark {
    --primary: var(--color-orange-500);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-900);
    --sidebar-primary: var(--color-orange-500);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-900);
  }
}

.theme-red {
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-50);
  --ring: var(--color-red-400);
  --chart-1: var(--color-red-300);
  --chart-2: var(--color-red-500);
  --chart-3: var(--color-red-600);
  --chart-4: var(--color-red-700);
  --chart-5: var(--color-red-800);
  --sidebar-primary: var(--color-red-600);
  --sidebar-primary-foreground: var(--color-red-50);
  --sidebar-ring: var(--color-red-400);

  @variant dark {
    --primary: var(--color-red-500);
    --primary-foreground: var(--color-red-50);
    --ring: var(--color-red-900);
    --sidebar-primary: var(--color-red-500);
    --sidebar-primary-foreground: var(--color-red-50);
    --sidebar-ring: var(--color-red-900);
  }
}

.theme-yellow {
  --primary: var(--color-yellow-400);
  --primary-foreground: var(--color-yellow-900);
  --ring: var(--color-yellow-400);
  --chart-1: var(--color-yellow-300);
  --chart-2: var(--color-yellow-500);
  --chart-3: var(--color-yellow-600);
  --chart-4: var(--color-yellow-700);
  --chart-5: var(--color-yellow-800);
  --sidebar-primary: var(--color-yellow-600);
  --sidebar-primary-foreground: var(--color-yellow-50);
  --sidebar-ring: var(--color-yellow-400);

  @variant dark {
    --primary: var(--color-yellow-500);
    --primary-foreground: var(--color-yellow-900);
    --ring: var(--color-yellow-900);
    --sidebar-primary: var(--color-yellow-500);
    --sidebar-primary-foreground: var(--color-yellow-50);
    --sidebar-ring: var(--color-yellow-900);
  }
}

.theme-violet {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-violet-50);
  --ring: var(--color-violet-400);
  --chart-1: var(--color-violet-300);
  --chart-2: var(--color-violet-500);
  --chart-3: var(--color-violet-600);
  --chart-4: var(--color-violet-700);
  --chart-5: var(--color-violet-800);
  --sidebar-primary: var(--color-violet-600);
  --sidebar-primary-foreground: var(--color-violet-50);
  --sidebar-ring: var(--color-violet-400);

  @variant dark {
    --primary: var(--color-violet-500);
    --primary-foreground: var(--color-violet-50);
    --ring: var(--color-violet-900);
    --sidebar-primary: var(--color-violet-500);
    --sidebar-primary-foreground: var(--color-violet-50);
    --sidebar-ring: var(--color-violet-900);
  }
}

.theme-teal {
  --primary: var(--color-teal-600);
  --primary-foreground: var(--color-teal-50);
  --chart-1: var(--color-teal-300);
  --chart-2: var(--color-teal-500);
  --chart-3: var(--color-teal-600);
  --chart-4: var(--color-teal-700);
  --chart-5: var(--color-teal-800);
  --sidebar-primary: var(--color-teal-600);
  --sidebar-primary-foreground: var(--color-teal-50);
  --sidebar-ring: var(--color-teal-400);

  @variant dark {
    --primary: var(--color-teal-500);
    --primary-foreground: var(--color-teal-50);
    --sidebar-primary: var(--color-teal-500);
    --sidebar-primary-foreground: var(--color-teal-50);
    --sidebar-ring: var(--color-teal-900);
  }
}

.theme-fuchsia {
  --primary: var(--color-fuchsia-600);
  --primary-foreground: var(--color-fuchsia-50);
  --chart-1: var(--color-fuchsia-300);
  --chart-2: var(--color-fuchsia-500);
  --chart-3: var(--color-fuchsia-600);
  --chart-4: var(--color-fuchsia-700);
  --chart-5: var(--color-fuchsia-800);
  --sidebar-primary: var(--color-fuchsia-600);
  --sidebar-primary-foreground: var(--color-fuchsia-50);
  --sidebar-ring: var(--color-fuchsia-400);

  @variant dark {
    --primary: var(--color-fuchsia-500);
    --primary-foreground: var(--color-fuchsia-50);
    --sidebar-primary: var(--color-fuchsia-500);
    --sidebar-primary-foreground: var(--color-fuchsia-50);
    --sidebar-ring: var(--color-fuchsia-900);
  }
}